extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Hasan Al-Jarrah

        p WordPress Developer with strong skills in front-end web development, including HTML, CSS, and JavaScript.

        .about-bio
          p I’m Hasan, a passionate web developer with experience in creating and customizing WordPress sites tailored to client needs. Recently, I’ve expanded my skills in front-end development, building responsive, interactive websites using HTML, CSS, and JavaScript. I enjoy learning new tools and techniques to create clean, accessible, and engaging digital experiences. My goal is to help businesses grow by delivering user-friendly websites that connect meaningfully with their audience.

      .skills-contact-box.box
        h6 Skills
        ul
          li WordPress
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility basics
          li Basic OOP concepts
          li Fetch and Public APIs
          li Node.js (beginner)
          li Express (beginner)
          li Pug (beginner)

        h6 Contact Info
        ul
          li 555-555-1234
          li Hasan@email.com

        h6 Social Links
        ul.social-links
          li: a.btn-link(href='https://www.linkedin.com/in/hasan-al-jarrah-1ba0031a3/' target='_blank' rel='noopener noreferrer') LinkedIn
          li: a.btn-link(href='https://github.com/hasanalj0923' target='_blank' rel='noopener noreferrer') GitHub
          li: a.btn-link(href='#' target='_blank' rel='noopener noreferrer') Twitter

  nav.nav
    a(href='/')
      span &larr;
      |  Back
